
/* import { Link } from "react-router-dom"; */




.container__browser{
  flex: 1;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
}

.h1__browse {
    color: #f00;
    display: -webkit-box;

}


.title__browser{
  font-size: 48px;
}
.list__browser{
  margin-top: 20px;
  display: flex;
}

.playlist:Link{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 250px;
  text-decoration: none;
}
.img__browse {
    height: 250px;
  }

.strong__brwose {
    font-size: 13px;
    margin-top: 10px;
    color: #fff;
  }

.p__browse {
    line-height: 22px;
    margin-top: 5px;
    font-size: 13px;
    color: #b3b3b3;
  }

  .p__browse:first-child {
    margin: 0;
  }

  .p__browse:hover img {
    opacity: 0.4;
  }

