@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
}
.box {
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.box::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #7e98f4, #7e98f4);
	animation: animate 6s linear infinite;
}
.box::after {
	content: "";
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #7e98f4, #7e98f4);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

.boxRegister {
	position: relative;
	width: 380px;
	height: 780px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
	margin: 25px;
}
.boxRegister::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 820px;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #7e98f4, #7e98f4);
	animation: animate 6s linear infinite;
}
.boxRegister::after {
	content: "";
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 820px;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #7e98f4, #7e98f4);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
form {
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h1 {
	color: white;
	font-weight: 400;
	text-align: center;
}
.inputBox {
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span {
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
	color: #8f8f8f;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
	height: 44px;
}
.links {
	display: flex;
	justify-content: space-between;
}
.links a {
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover,
.links a:nth-child(2) {
	color: #7e98f4;
}
input[type="submit"] {
	width: 200px;
	border: none;
	padding: 15px 30px;
	background-color: #7e98f4;
	border-radius: 50px;
	font-size: 15px;
	font-weight: bolder;
	color: white;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 50px;
	align-items: center !important;
	justify-content: center;
}
input[type="submit"]:active {
	opacity: 0.8;
}

.error {
	color: red;
	font-size: 10px;
}

img {
	width: 200px;
	height: auto;
	padding-bottom: 10px;
}

h6 {
	color: white;
	margin-top: 20px;
}
