@import url("https://fonts.googleapis.com/css?family=Inter:400,600,800|Mulish:700,500|Poppins:500,600|Roboto:500|Plus+Jakarta+Sans:800");

.LoginCard {
  align-items: center;
  background-image: url();
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 928px;
  padding: 14px 36px;
  width: 428px;
  margin: auto;
  justify-content: center;
}

.inputField {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 20px;
  padding-left: 60px;
  transition: 0.2s;
  margin-bottom: 35px;
}

.loginBtn {
  height: 65px;
  width: -webkit-fill-available;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #f4694c;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin-bottom: 30px;
}
